jausdds/src/translator/schema/jsidl_v1_0.rnc

# JAUS Service Interface Definition Language (JSIDLv0.9)
#
# Latest snapshot from source:as4c/trunk/Users/apasha/AS5684/JSIDL_bundle_v0.4/AS5684v0.9.doc
#
# $Id: jsidl.rnc 690 2007-07-30 20:35:55Z jalbers $
# $URL: https://www.fastpilot.com/svn/asfour/as4c/trunk/JSS/schema/jsidl.rnc $

default namespace = "urn:jaus:jsidl:1.0"
datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes" 

# Note: combine operator "|" must be used for all production rules in this file
# to resolve the double (diamond) reference in 
# jaus_service_interface_definition_language.rnc. 

namespace rng = "http://relaxng.org/ns/structure/1.0"

# An identifier is a sequence of letters and digits. The first character
# must be a letter or the underscore character _. Upper and lower 
# case letters are different, and identifiers may have any length.

identifier |= xsd:string { pattern="[a-zA-Z_][a-zA-Z_0-9]*" } 

# M.N, where M and N are positive integers. 

version_num |= xsd:string { pattern="[1-9][0-9]*\.(0|[1-9]([0-9]*))" }

# A valid version number M.N or *.* or combination of both.

version_num_ref |= xsd:string { pattern = "(([1-9][0-9]*)|\*)\.(([1-9][0-9]*)|\*)" }


protocol_behavior =
  element protocol_behavior {
    attribute is_stateless { xsd:boolean }?,
    \start,
    map+
  }
  
\start = 
  element start {
    attribute map { identifier },  
    attribute state { identifier }, 
    attribute interpretation { text }?
  }
   
map = 
   element map {
     attribute name { identifier },
     attribute interpretation { text }?,
     state+,
     default_state?
   }
   
state = 
   element state {
     attribute name { identifier },
     attribute interpretation { text }?,
     entry?,
     exit?,
     transition*, 
     default_transition? 
   }
   
default_state = 
  element default_state {
     attribute interpretation { text }?,
     transition*,
     default_transition? 
  }

default_transition =   
  element default_transition { 
    attribute interpretation { text }?,
    guard?,
    (simple | push | pop),
    action* 
  }

entry = 
  element entry {
    attribute interpretation { text }?,
    action* 
  }

exit = 
  element exit {
    attribute interpretation { text }?,
    action* 
  }

transition =
  element transition {
    attribute name { identifier },
    attribute interpretation { text }?,
    parameter*,
    guard?,
    (simple | push | pop),
    action*
 }
   
simple = 
  element simple {
    attribute interpretation { text }?, 
    end_state?
  }

push = 
  element push {
    attribute interpretation { text }?,
    end_state, 
    simple?
  }

pop = 
  element pop {
    attribute transition { identifier }?,
    attribute interpretation { text }?, 
    argument*
  }

argument = 
  element argument {
    ( attribute variable { identifier } |
    attribute constant { text } ), 
    attribute interpretation { text }?
  }

guard = 
  element guard {
    attribute condition { text }, 
    attribute interpretation { text }? 
  }

end_state = 
  element end_state {
    attribute map { identifier }?,  
    attribute state { identifier }, 
    attribute interpretation { text }? 
  }

parameter = 
  element parameter {
    ( attribute variable { identifier } |
    attribute constant { text } ),
    attribute type { identifier }, 
    attribute interpretation { text }?  
  }
  
action = 
  element action {
    attribute name { identifier },
    attribute interpretation { text }?,
    argument*
  }

start = declared_type_set 

#==================== declared data types ===========================
declared_type_set = 
   element declared_type_set {
      attribute name { identifier },
      ( attribute id { xsd:anyURI },
         attribute version { version_num } )?,
      declared_type_set_ref*,
      ( record | \list | array | fixed_field | variable_field | bit_field | 
         fixed_length_string | variable_length_string | variable_length_field |
         variable_format_field | declared_field | declared_record | declared_list )*
   }

declared_type_set_ref =
   element declared_type_set_ref {
      attribute name { identifier },
      attribute id { xsd:anyURI },
      attribute version { version_num } 
   }

attribute_declared_type = 
   attribute name { identifier },
   attribute declared_type_set_ref_name { identifier }?,
   attribute declared_type_name { identifier },
   attribute interpretation { text }?

declared_record = 
   element declared_record {
      attribute_declared_type
   }

declared_list = 
   element declared_list {
      attribute_declared_type
   }

declared_field = 
   element declared_field {
      attribute_declared_type, 
      attribute optional { xsd:boolean }
   }

#==================== message definition =========================
message_set =
   element message_set {
      attribute interpretation { text }?,
      message_def*
   }

message_def =
   element message_def {
      attribute name { identifier },
      attribute message_id { xsd:hexBinary },
      attribute type { "input" | "output" | "internal" },
      attribute is_command { xsd:boolean },
      element description {  attribute xml:space { "default" | "preserve" }?, text }?,
      body?
   }

body = 
   element body { 
      ( record_count?, (record | declared_record) )?, 
      ( list_count?, (\list | declared_list) )*
   }

record =
   element record {
      attribute name { identifier }, 
      attribute interpretation { text }?,
      presence_vector?,
      ( array | fixed_field | variable_field | bit_field |  
         fixed_length_string | variable_length_string |
         variable_length_field |variable_format_field | declared_field )*
   }

\list = 
   element list { 
      attribute name { identifier },
      attribute interpretation { text }?,
      ( record_count?, ( record | declared_record ) )?, 
      ( list_count?, ( \list | declared_list ))*
   }

array =
   element array {
      attribute name { identifier },
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,
      ( fixed_field | variable_field |bit_field |
         fixed_length_string | variable_length_string|
         variable_length_field |variable_format_field | declared_field ),
      element dimension {
         attribute name { identifier },
         attribute size { xsd:unsignedInt },
         attribute interpretation { text }?
      }+
   }  

fixed_field =
   element fixed_field {
      attribute name { identifier }, attribute_field_type, attribute_field_units, 
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,  
      (scale_range | value_set)? 
   }

variable_field = 
   element variable_field {
      attribute name { identifier }, 
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,  
      type_and_units_field
   }

bit_field =
   element bit_field {
      attribute name { identifier }, 
      attribute_field_type_unsigned,  
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,  
      sub_field+
   }    

fixed_length_string =
   element fixed_length_string {
      attribute name { identifier }, 
      attribute string_length { xsd:unsignedInt }, 
      attribute optional {xsd:boolean }, 
      attribute interpretation { text }?
   }

variable_length_string =
   element variable_length_string {
      attribute name { identifier }, 
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,  
      count_field 
   }

variable_length_field =
   element variable_length_field {
      attribute name { identifier },
      attribute_field_format,
      attribute optional {xsd:boolean },
      attribute interpretation { text }?,  
      count_field 
   }   

variable_format_field = 
   element variable_format_field {
      attribute name { identifier }, 
      attribute optional {xsd:boolean },
      attribute interpretation { text }?, 
      format_field, 
      count_field
   }

count_field = 
   element count_field { 
      attribute_field_type_unsigned, 
      attribute min_count { xsd:unsignedInt }?,
      attribute max_count{ xsd:unsignedInt }?,
      attribute interpretation { text }?
   }

record_count = 
   element record_count {
      attribute name { identifier }, 
      count_field
   }

list_count = 
   element list_count {
      attribute name { identifier }, 
      count_field
   }      

sub_field = 
   element sub_field {
      attribute name { identifier }, bit_range, value_set,
      attribute interpretation { text }?
   }   

type_and_units_field = 
   element type_and_units_field {
      type_and_units_enum+ 
   }

format_field = 
   element format_field { 
      format_enum+ 
   }

presence_vector = 
   element presence_vector {
      attribute_field_type_unsigned
   }

attribute_field_type = 
   attribute field_type { 
      "byte"| "short integer" | "integer" | "long integer" 
    | "unsigned byte" | "unsigned short integer" 
    | "unsigned integer" | "unsigned long integer" 
    | "float" | "long float"
    | "RGB"  # 24-bit value
   }

attribute_field_type_unsigned =    
   attribute field_type_unsigned { 
      "unsigned byte" 
    | "unsigned short integer" 
    | "unsigned integer" 
    | "unsigned long integer" 
   }

attribute_field_units = 
   attribute field_units { 
      # base units

      "meter" | "kilogram" | "second" | "ampere"| "kelvin" | "mole" | "candela" | 

      # derived units

      "square meter" | "cubic meter" |"meter per second" |"meter per second squared" | 
      "reciprocal meter" | "kilogram per cubic meter" | "cubic meter per kilogram" | 
      "ampere per square meter" |"ampere per meter" | "mole per cubic meter" | 
      "candela per square meter" | "one" |

      # derived units with special names and symbols

      "radian" | "steradian" | "hertz" | "newton" | "pascal" | "joule" | "watt" |
      "coulomb" | "volt" | "farad" | "ohm" | "siemens" | "weber" | "tesla" | "henry" |
      "degree Celsius" | "lumen" | "lux" | "becquerel" | "sievert" | "katal" | 
      "pascal second" | "newton meter" | "newton per meter" | "radian per second" |
      "radian per second squared" | "watt per square meter" | "joule per kelvin" |
      "joule per kilogram" | "kelvin" | "joule per kilogram" | "watt per meter kelvin" |
      "joule per cubic meter" | "volt per meter" | "coulomb per cubic meter" |
      "coulomb per square meter" | "farad per meter" | "henry per meter" |
      "joule per mole" | "joule per mole kelvin" | "coulomb per kilogram" |
      "gray per second" | "watt per square meter steradian" | "katal per cubic meter" |

      # Non-SI units accepted for use with the International System

      "minute" | "hour" | "day" | "degree" | "minute" | "second" | "liter" | "metric ton" |
      "neper" | "bel" | "nautical mile" | "knot" | "are" | "hectare" | "bar" | "ångstro" |
      "barn" | "curie" | "roentgen" | "rad" | "rem" 
   }

type_and_units_enum = 
   element type_and_units_enum {
      attribute index { xsd:unsignedByte },
      attribute_field_type, 
      attribute_field_units, 
      attribute interpretation { text }?,
      (value_set | scale_range)? 
   }     

attribute_field_format = 
   attribute field_format { 
      "AU" | "BMP" | "JPEG" | "MJPEG" | "MPEG-1" | "MPEG-2"
    | "MP2" | "MP3" | "MP4" | "RAW" | "WAV" | "JAUS MESSAGE" 
    | "XML" | "RNC" | "RNG" | "XSD" | text
   }

format_enum = 
   element format_enum { 
      attribute index { xsd:unsignedByte },
      attribute_field_format
   }

value_set = 
   element value_set {
      attribute offset_to_lower_limit { xsd:boolean },
      (value_range | value_enum)+
   }

bit_range = 
   element bit_range {
      attribute from_index { xsd:unsignedByte },
      attribute to_index { xsd:unsignedByte }, 
      attribute interpretation { text }?
   }

scale_range = 
   element scale_range {
      attribute real_lower_limit { text },
      attribute real_upper_limit { text },
      attribute integer_function { "floor" |"round" | "ceiling" },         
      attribute interpretation { text }?
   }

value_range = 
   element value_range {
      attribute lower_limit { text }, 
      attribute lower_limit_type { "inclusive" | "exclusive" },
      attribute upper_limit { text }, 
      attribute upper_limit_type { "inclusive" |"exclusive" },
      attribute interpretation { text }?
   }

value_enum = 
   element value_enum {
      attribute enum_index { xsd:long },
      attribute enum_constant { xsd:string }, 
      attribute interpretation { text }?
   }

start |= service_def

service_def =
   element service_def {
      attribute name { identifier },
      attribute id { xsd:anyURI },
      attribute version { version_num },
      description,
      assumptions,
      declared_type_set?,
      message_set,
      protocol_behavior
   }

description =
   element description {
      attribute xml:space { "default" | "preserve" }?, text
   }

assumptions = 
   element assumptions {
      element channel_assumptions { attribute xml:space { "default" | "preserve" }?, text }?, 
      element process_assumptions { ( uses-messages )+ }?
   }

attribute_ref = 
      attribute name { identifier }, 
      attribute id { xsd:anyURI }, 
      attribute version { version_num_ref },
      attribute interpretation { text }

uses-messages = 
   element uses-messages {
      attribute_ref
   }